body{
  text-align: center;  
  font-weight: bolder;
}

h1{
  color: goldenrod;
  font-family: 'Brush Script MT', cursive;
  font-size: 51px;
  margin-bottom: 21px;
}

#work-time{
  color: green; 
  font-size: large;
}

#rest-time{
  color: red;
  font-size: large;
}

.radio-button:hover{
  opacity: 1;  
}

.start-reset-button{
opacity: 1;
cursor: pointer;
}

#start:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: green; 
  font-weight: bolder;
}

#reset:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: yellow;
  font-weight: bolder;
}
